@charset "utf-8";
/* CSS Document */

a:link {
	color: #0000FF; 
	text-decoration: underline;
}
a:visited {
	color: blue; /*changed 3/23*/
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
a:focus {
	border: none;
}